* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221,221,221);
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -2px;
}

.logo span:first-child {
    color: #1d52ff;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: 0;
}

.menu {
    display: flex;
}

.menu  li {
    list-style-type: none;
    position: relative;
}

.menu li a {
    padding: 17px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
}

.menu li:hover {
    background-color: #1d52ff;
    text-shadow: 0 0 10px black;
}

.menu > li:hover > .submenu,
.submenu li:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #1d52ff;
    min-width: 120%;
}

.submenu li:hover {
    background-color: #174fbe;
    text-shadow: 0 0 10px black;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    position: absolute;
    top: 0;
    left: 125px; 
}